@if (!string.IsNullOrEmpty(Mensaje))
{
    <div class="alerta @CssClase">
        @Mensaje
        <button @onclick="Cerrar"
                style="float:right;background:none;border:none;cursor:pointer;font-weight:700;">
            ✖
        </button>
    </div>
}

@code {
    [Parameter] public string Mensaje { get; set; } = "";
    [Parameter] public bool EsExito { get; set; } = true;
    [Parameter] public EventCallback OnCerrar { get; set; }

    private string CssClase => EsExito ? "alerta-exito" : "alerta-error";

    private async Task Cerrar() => await OnCerrar.InvokeAsync();
}